# duolingo.snippet
# 作用：多邻国本地解锁 Super 会员，去广告

[rewrite_local]
^https?:\/\/ios-api.*\.duolingo\.com\/.*\/users\/ url script-response-body https://raw.githubusercontent.com/xxal1989/Proxy-Rules/main/duolingo.js
[mitm]
hostname = ios-api*.duolingo.com, *-api*.duolingo.com
